
#navMain{
position: fixed;
list-style:none;
font-family:tahoma;
font-size:14px;
border:1px #a81b2f solid;
float:left;
width:1350px;
margin:auto 0;
padding:0;
background-color:#00004C;


}
#navMain > li{
float:left;
position:relative;
}
#navMain > li > a{
color:#878787;
float:left;
text-decoration:none;
padding:11px 18px;

}
#navMain > li > div{
color:#878787;
float:left;
text-decoration:none;
padding:11px 18px;

}

#navMain > li > a:hover{
	background: #FFFFFF;
}
#navMain > li:hover{
	background:#FFFFFF;
}
#navMain ul {
display:none;
position:absolute;
list-style:none;
left:0;
padding:0;
margin:0;
border-top:1px #a81b2f solid;
background:#e8edee;
}
#navMain ul li a{
color:#5d6364;
text-decoration:none;
display:block;
padding:6px 7px;
border-bottom:1px solid #d3d9da;
border-left:1px solid #d3d9da;
border-right:1px solid #d3d9da;
font-size:13px;
}
#navMain li:hover ul {
display:block;
top:39px;
min-width:500px;
}

